* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f6f2;
    color: #333;
}


.topo {
    padding: 20px 40px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #008080;
}


.centro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
}

.centro .texto {
    max-width: 500px;
}

.centro h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

.centro p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.btn-principal {
    display: inline-block;
    padding: 15px 25px;
    background: #008080;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}

.btn-principal:hover {
    background: #006b6b;
}

.login-link {
    margin-top: 15px;
}

.login-link a {
    color: #008080;
}


.centro .imagem img {
    width: 380px;
    border-radius: 12px;
}


.features {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: white;
    flex: 1;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}
